FirePlatform.Mobile/FirePlatform.Mobile.Android/obj/Debug
FirePlatform.Mobile/FirePlatform.Mobile.Android/obj
FirePlatform.Mobile/FirePlatform.Mobile/obj/Debug
FirePlatform.Mobile/FirePlatform.Mobile/bin/Debug
FirePlatform.Mobile/FirePlatform.Mobile.UITests/obj
FirePlatform.Mobile/FirePlatform.Mobile.iOS/obj
FirePlatform.Mobile/FirePlatform.Mobile/obj
FirePlatform.Mobile/.vs
FirePlatform.Mobile/FirePlatform.Mobile.Common/bin
FirePlatform.Mobile/FirePlatform.Mobile.Common/obj
